a {
    text-decoration: none;
}

.text__font_lora {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
}

.text__font_oxygen {
    font-weight: 400;
    font-family: 'Oxygen';
    font-style: normal;
}

.text__font_roboto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.footer {
    max-height: 378px;
    background-image: url('../img/footer.png');
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__title {
    text-align: center;
    padding-top: 81px;
    padding-bottom: 38px;
    text-decoration: underline;
    text-underline-offset: 16px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #EFEFEF
}

.footer__form {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}

.footer__form-text {
    width: 375px;
    height: 50px;
    padding: 0 208px 0 35px;
    font-size: 12px;
    line-height: 14px;
    color: #817F83;
    background: #FFFFFF;
}

.footer__form-submit {
    width: 125px;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
}

@media screen and (min-width: 480px) {
    .footer {
        max-height: 480px;
    }

    .footer__form {
        margin-left: 22px;
        margin-right: 22px;
    }

    .footer__form-submit {
        width: 110px;
    }

    .footer__form-text {
        width: 330px;
        padding: 0 0 0 35px;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        max-height: 378px;
    }

    .footer__form {
        margin-left: 22px;
        margin-right: 22px;
    }

    .footer__form-submit {
        width: 110px;
    }

    .footer__form-text {
        width: 330px;
        padding: 0 0 0 35px;
    }
}

.footer__after-form {
    background: rgba(35, 47, 56, 0.6);
    display: flex;
    justify-content: space-between;
}

.footer__logo_font {
    color: #FFFFFF;
    text-decoration: none;
    padding: 31px 0 32px 250px;
    font-size: 26px;
    line-height: 26px;
}

.footer__links {
    padding: 31px 250px 32px 0;
}

.footer__link {
    padding-left: 20px;
    font-size: 11px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

@media screen and (min-width: 480px) {
    .footer__after-form {
        min-height: 170px;
    }

    .footer__logo_font {
        padding: 30px 225px 115px 17px;
    }

    .footer__links {
        text-align: right;
        padding: 0;
        margin: 30px;
    } 
}

@media screen and (min-width: 768px) {
    .footer__after-form {
        min-height: 89px;
        margin-top: 89px;
    }

    .footer__logo_font {
        padding: 31px 312px 32px 37px
    }

    .footer__links {
        text-align: right;
        padding: 0;
        margin: 32px;
    } 
}

input {
    border: 0px;
}

button {
    border: 0px;
}

.button-style {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #DD783F;
    border-radius: 3px;
}

.button-style:hover {
    background: #DD783F;
    opacity: 0.8;
}
